

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .....body ka design.... */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #212529;
}


p {
  color: #555;
}


section {
  padding: 80px 0;
}

/* ....... LINKS ka design.... */

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #0d6efd;
}



.btn {
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: #0b5ed7;
  transform: translateY(-2px);
}

/* .....CARDS ka design .....*/

.card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

/* .....IMAGES ka design... */

img {
  max-width: 100%;
  display: block;
}

/*.....HERO SECTION cha design....*/


.hero-section {
  padding: 0 !important; 
  margin: 0;
}


.hero-carousel,
.hero-carousel .carousel,
.hero-carousel .carousel-inner,
.hero-carousel .carousel-item {
  margin: 0;
  padding: 0;
}

/* .....Hero slide ka design.... */

.hero-slide {
  min-height: calc(100vh - 72px); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* .....Carousel ke images.... */

.slide-1 {
  background-image: url("https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?auto=format&fit=crop&w=1600&q=80");
}

.slide-2 {
  background-image: url("https://images.unsplash.com/photo-1554995207-c18c203602cb");
}



.slide-3 {
  background-image: url("https://images.unsplash.com/photo-1566073771259-6a8506099945?auto=format&fit=crop&w=1600&q=80");
}




/* .....Hero overlay cha design.... */

.hero-overlay {
  background: linear-gradient(
    to right,
    rgba(15, 23, 42, 0.75),
    rgba(15, 23, 42, 0.45)
  );
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}


.hero-carousel h1,
.hero-carousel p {
  color: #ffffff;
}


footer p,
footer li,
footer span {
  color: #e5e7eb;
}

footer h5 {
  color: #ffffff;
  font-weight: 600;
}

footer a {
  color: #f9fafb;
}

footer a:hover {
  color: #f59e0b;
  text-decoration: underline;
}
